.home {
    width: 100%;
    color: white;
    padding: 6% 3% 0 3%;
}

.home ul {
    width: 100%;
    flex-wrap: nowrap!important;
    overflow: hidden;
}

.home ul li {
    flex: 0 0 15%;
}

.title_main {
    font-size: 22px;
    font-weight: bold;
    margin: 0px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home_flex .title_main>a {
    display: block;
    font-size: 14px;
    color: white;
    opacity: .7;
    font-weight: 200;
}

.home_flex .title_main>a:hover {
    text-decoration: underline;
}

.home.active ul {
    flex-wrap: wrap!important;
}

.home.active ul li {
    flex: unset;
}

.home .first_home.active {
    display: block!important;
}

.home .second_home.active {
    display: block!important;
}

.home .first_home .title_main>a.active,
.home .second_home .title_main>a.active {
    display: none;
}

#banner_home {
    justify-content: unset;
    height: 490px;
    margin-bottom: 100px;
    /* margin-top: 70px; */
}

.aim {
    transform: translateX(-100px);
    opacity: 0;
    animation: showText 1s ease-in-out forwards;
}

@keyframes showText {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#banner_home .content h2 {
    font-size: 50px!important;
    color: aqua;
    animation-delay: .6s;
}

#banner_home .content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    animation-delay: .8s;
}

#banner_home .content .nav_home {
    animation-delay: 1.2s;
}

#banner_home .content button {
    font-size: 14px;
    background-color: transparent!important;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    border: 1px solid aqua;
}

#banner_home .content button a {
    display: block;
    padding: 6px 10px;
    border-radius: 20px;
    transition: .2s;
}

#banner_home .content button:nth-child(1) {
    background: transparent;
    margin-right: 8px;
}

#banner_home .content button:nth-child(1) a {
    color: white;
}

#banner_home .content button:nth-child(2) {
    border: 1px solid aqua;
}

#banner_chude {
    width: 100%;
    height: 360px;
    margin-bottom: 50px;
}

#banner_chude img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.content button a:hover {
    border: unset!important;
    border: 1px solid aqua;
    color: black!important;
    background-color: aqua;
    box-shadow: 0px 0px 4px aqua, 0px 0px 6px aqua, 0px 0px 10px aqua;
}

#chude,
#top {
    padding: 8% 3% 0 3%;
}

#play_music {
    padding-top: 5%;
}


/* view artist */

#view_artist {
    height: 100%;
    /* padding-top: 7%;  */
    padding-left: 60px;
    padding-right: 60px;
}

.header_view_artist {
    height: 300px;
    background-color: cadetblue;
    padding: 12% 60px 0 60px;
    margin: 0 -60px;
}

.header_view_artist .content_header {
    display: flex;
}

.header_view_artist img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.right_view_header {
    color: white;
}

.right_view_header #name_artist {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.right_view_header #name_artist .icon_play {
    width: 52px;
    height: 52px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_view_header #name_artist .icon_play ion-icon {
    display: block;
    font-size: 30px;
}

.right_view_header #name_artist p {
    font-size: 60px;
    font-weight: bold;
}

.right_view_header .other_artist {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.right_view_header .other_artist .care_artist {
    margin-right: 24px;
}

.right_view_header .other_artist .follow_artist {
    padding: 4px 24px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right_view_header .other_artist .follow_artist button {
    all: unset;
    margin-left: 4px;
}

.song_artist {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 50px;
}

.content_view_artist {
    padding: 30px 0 0 0;
    color: white;
}

.content_view_artist .title {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content_new_song {
    width: 392px;
    height: 183px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.4);
}

.content_new_song img {
    width: 151px;
    height: 151px;
    border-radius: 4px;
}

.content_new_song .sub_content {
    margin: 6px 0 6px 16px;
}

.sub_content span {
    display: block;
    font-size: 12px;
    opacity: .7;
}

.sub_content .name_artist {
    margin-bottom: 12px;
}

.sub_content .single {
    font-size: 12px;
    opacity: .7;
}

.sub_content .name_song {
    font-weight: bold;
    margin: 10px 0 4px 0;
    font-size: 14px;
}

.hot_song_artist {
    width: 100%;
}

#list_music_hot {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

#list_music_hot li {
    padding: 10px!important;
    height: 60px!important;
}

#list_music_hot li img {
    width: 40px;
    height: 40px;
}