@media screen and (max-width:768px) {
    #blur {
        background: rgba(0, 0, 0, 0.4);
    }
    #toast--left {
        left: 50%;
        transform: translateX(-50%);
    }
    main {
        width: 100%!important;
    }
    .container .main_left {
        width: 60%;
        background-color: #1b2039!important;
        transform: translateX(-120%);
        transition: 0.5s;
        z-index: 1000000000000000000000000;
    }
    .container .main_left .nav_mobile {
        margin: 0;
    }
    .container .main_left.active {
        transform: translateX(0);
    }
    .container .main_left .logo {
        display: none;
    }
    ul li a {
        width: 100%;
        /* opacity: .5; */
        font-weight: bold;
    }
    .btn_login_mobile a {
        color: white!important;
    }
    .container .main_right {
        padding-top: 86px;
    }
    .container .main_right .user .settings_header,
    .container .main_right .nav_header,
    .container .main_right .search,
    .container .main_right .isPC {
        display: none;
    }
    .container .main_right .right_main_header {
        display: flex!important;
    }
    .container .main_right .search.active {
        display: block;
    }
    .container .main_right .logo {
        display: block!important;
        padding: 0;
    }
    .container .main_right .logo span {
        font-size: 40px;
        width: max-content;
    }
    .container .main_right .navMobile,
    .container .main_right .searchIcon {
        display: flex!important;
        padding: 10px;
        cursor: pointer;
    }
    .container .main_right .searchIcon ion-icon {
        display: none;
    }
    .container .main_right .searchIcon ion-icon.active {
        display: block;
    }
    .close_nav_left {
        background-color: transparent!important;
        display: block!important;
        color: white;
        position: absolute;
        right: -24px;
        top: 4px;
    }
    header {
        width: 100%!important;
        left: 0;
        justify-content: space-between;
        background-color: #1b2035!important;
    }
    header.active {
        background-color: rgb(249, 245, 245);
    }
    header.active .logo span {
        -webkit-text-stroke-color: black;
        box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.06);
    }
    header.active ion-icon {
        color: white;
        font-weight: bold;
        font-size: 30px;
    }
    header .user {
        width: max-content!important;
    }
    header.active .user .profile {
        border: 1px solid white;
    }
    .update_profile {
        width: 85%;
    }
    .update_profile .main_profile .imgUser ion-icon {
        cursor: pointer;
        display: block!important;
    }
    .update_profile .main_profile .imgUser img {
        opacity: .6;
    }
    li.editNameUser .submit {
        display: block!important;
    }
    li .nameUser {
        width: 140px;
    }
    .hedaer_mobile .user {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 30px 0;
        background-color: #1b2039!important;
        color: white;
    }
    .name_user_mobile {
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
    }
    .hedaer_mobile .user .profile {
        width: 60px;
        height: 60px;
    }
    .hedaer_mobile {
        display: block;
        background-color: rgb(249, 245, 245);
    }
    .main_right {
        width: 100%!important;
        margin-left: 0!important;
        color: white!important;
    }
    /* header */
    .nav_login {
        display: none!important;
    }
    .profile {
        display: block!important;
    }
    /* search mobile */
    .container .main_right .searchMobile {
        position: fixed;
        min-height: 300px;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1000000000000000000000000000000;
        display: block;
        transform: translateY(calc(-100% - 100px));
        transition: 0.5s;
        background-color: #1b2039!important;
        padding: 20px;
    }
    .container .main_right .searchMobile.active {
        transform: translateY(0);
    }
    /* search */
    /* search */
    .container .main_right .searchMobile .search {
        width: 100%!important;
        height: 40px;
        position: relative;
        display: block!important;
        background-color: transparent!important;
    }
     ::placeholder {
        color: white!important;
        opacity: .4;
    }
    /* overflow: hidden; */
    .container .main_right .searchMobile .search input {
        width: 100%;
        color: white;
        border-radius: unset;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .container .main_right .searchMobile .search label {
        position: absolute;
        font-size: 26px;
        left: 10px;
        top: 50%;
        z-index: 9999;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .main_right .searchMobile .search .listSearch#listSearchMb {
        width: 100%;
        border-radius: unset;
        padding-top: unset;
        background: transparent!important;
        top: 40px;
        color: white;
        margin-top: 20px;
        display: block;
    }
    /* home */
    .container .main_right .home {
        margin-top: -10px!important;
    }
    #banner_home .content {
        position: absolute;
        margin-left: 20px;
    }
    #banner_home .content img {
        background-blend-mode: darken;
    }
    .home .title_main a {
        display: none;
    }
    .home ul {
        overflow: unset;
        overflow-x: scroll;
    }
    /* .home ul::-webkit-scrollbar{
        display: none;
    } */
    /* top music */
    ul.list_playlist li {
        width: 190px!important;
        height: 275px!important;
    }
    #top .banner {
        display: flex!important;
        justify-content: flex-end!important;
        align-items: center!important;
    }
    #top .banner svg {
        width: 325px;
    }
    .home ul li {
        flex: 0 0 49%;
        margin-right: 1%!important;
    }
    .home_flex ul li:not(:nth-child(6n)) {
        margin-right: unset;
    }
    .all-slides {
        width: 100%!important;
    }
    /* discover */
    #discover .list_music li {
        width: 100%;
    }
    #showAll {
        display: none!important;
    }
    #discover .nav_country {
        width: 100%;
    }
    #discover .nav_country>div {
        width: 100%!important;
        justify-content: space-evenly;
    }
    #discover .nav_country>div li {
        margin: 20px 0;
    }
    #discover .list_music {
        height: 300px;
        overflow-y: scroll;
    }
    .same_list_music ul li .hoverItem {
        opacity: 1;
    }
    .same_list_music ul li .timeMusic {
        display: none;
    }
    .same_list_music .hoverItem {
        padding: 10px 0;
    }
    .same_list_music ul li .idMusic {
        display: none;
    }
    .same_list_music li .contentMusic {
        width: 100%;
        padding-left: 10px;
    }
    .same_list_music .list_music_render .imageMusic {
        width: 16%;
    }
    .same_list_music .contentMusic .desMusic {
        width: 80%;
    }
    .same_list_music #upLoaded_profile .contentMusic {
        width: 100%;
        padding-left: 0;
    }
    .tooltip:hover .tooltiptext {
        visibility: hidden;
        opacity: 0;
    }
    /* library */
    ul.list_playlist {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    ul.list_playlist li {
        width: calc(50vw - 7px)!important;
    }
    ul.list_playlist li {
        flex: 0 0 49%;
        margin-bottom: 20px;
        margin-right: 1%!important;
    }
    /* .list_playlist li .hover_playlist {
        opacity: 1;
    } */
    /* ==================================================================== */
    /* login */
    .form_user {
        width: 80%!important;
    }
    /* playmusic */
    .play_music,
    #playlist_main.active {
        display: flex;
        flex-direction: column;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    #listening {
        display: none!important;
    }
    .careMusic {
        margin-top: 120px;
    }
    /* play music */
    .controls,
    .anotherChoice {
        display: none!important;
    }
    /* .musicFixed{
        display: none!important;
    } */
    .musicFixed {
        position: absolute;
        top: 0;
        background: transparent!important;
        display: none!important;
        border: none;
    }
    .musicFixed.active {
        display: flex!important;
    }
    .musicFixed .centerMusicFixed {
        width: 100%!important;
    }
    .musicFixed .leftMusicFixed,
    .musicFixed .rightMusicFixed {
        display: none!important;
    }
    .img_playMusic_mobile {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: fixed;
        z-index: 1000000000000000000000000000000000000000000000000000000000000000;
        right: 0;
        top: 12%;
        display: none;
    }
    .img_playMusic_mobile img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .sub_right {
        padding: 10px;
        width: 100%!important;
    }
    /* dialog */
    .confirm_dialog .dialog {
        width: 80%;
    }
    footer {
        padding: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {}