.top_music ul#list_playlist {
    display: unset!important;
    display: grid!important;
    grid-template-columns: auto auto auto auto auto;
}

.top_music ul.list_playlist li {
    /* display: inline-block; */
    width: 230px!important;
    height: 275px!important;
    padding: 0 12px;
    margin: 0;
}

.top_music ul li .content {
    width: 100%!important;
}

.top_music ul#list_playlist li .name_pl,
.top_music ul#list_playlist li .author_pl {
    margin: 10px 0 4px 0!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis!important;
}

.top_music ul#list_playlist li .author_pl {
    margin: 0!important;
    width: 98%;
    opacity: .4;
}